% -*- mode: erlang -*-
{erl_opts, [debug_info]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{template, "simpleapp.app.src", "src/{{appid}}.app.src"}.
{template, "simpleapp_app.erl", "src/{{appid}}_app.erl"}.
{template, "simpleapp_sup.erl", "src/{{appid}}_sup.erl"}.
{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.
